body {
  margin: 0;
}

canvas {
  background-image: linear-gradient(to bottom right, #3269c1, #011433);
}

#controllers {
  position: fixed
}

#drop-area {
  border: 2px dashed #ccc;
  border-radius: 20px;
  width: 480px;
  font-family: sans-serif;
  margin: 100px auto;
  padding: 20px;
}
#drop-area.highlight {
  border-color: purple;
}

#fileElem {
  display: none;
}