html, body {
  width:  100%;
  height: 100%;
  margin: 0;
  border: 0;
  overflow: hidden;
  display: block;  
}

canvas {
  background: linear-gradient(-45deg, #f46b45, #eea849, #8E0E00, #1F1C18);
  background-size: 400% 400%;
  animation: Gradient 15s ease infinite;
}

.controllerInv {
  display: none;
}

.controller {
  position: fixed;
  top: calc(50vh - 25px);
  left: calc(50vw - 25px);
  width: 50px;
  height: 50px;
  padding: 0;
}

.controller button,
.controller button:active,
.controller button:hover, 
.controller button:focus {
  padding: 0;
  background: none;
  border: none;
}

#playerIcon {
  width: 50px;
  height: 50px;
  font-size: 50px;

}

#drop-area {
  border: 2px dashed #ccc;
  border-radius: 20px;
  width: 400px;
  height: 400px;
  font-family: sans-serif;
  margin: auto;
  padding: 20px;
  text-align: center;
}

#drop-area p {
  margin: 50% auto;
  font-size: 25px
}

#drop-area.highlight {
  border-color: purple;
}

#sample-wrapper {
  margin: 10px auto;
  text-align: center;
  font-size: 28px
}

#play-sample {
  font-size: 30px
}

#fileElem {
  display: none;
}

#info {
  position: fixed;
  top: 0;
  font-size: 20px;
  max-width: 500px;
  left: calc(50% - 250px)  
}

.novisible {
  display: none;
}

.spinner {
  display: flex;
  position: relative;
  width: 64px;
  height: 64px;
  margin: 0 auto;
  flex-flow: column;
  text-align: center;
  justify-content: center;
}

.spinner:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 6px;
  box-sizing: border-box;
  border: 26px solid green;
  border-color: green transparent green transparent;
  animation: spinner 1.2s infinite;
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes spinner {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}

@media only screen and (max-width: 500px) {
  #drop-area {
    display: none;
  }

  #sample-wrapper p{
    display: none;
  }

  .controller {
    top: calc(50vh - 20px);
    left: calc(50vw - 20px);
    width: 30px;
    height: 30px;
  }

  #info {
    display: none
  }
}

